# start your postgres service and create a new db named fyc_db
# sudo -u postgres psql -- enter postgres terminal
# CREATE DATABASE fyc_db; -- create your new db
# might need to configure username and password but by default should look something like this :
DATABASE_URL="postgresql://postgres:@localhost:5432/fyc_db"

# Generate GITHUB_ID and GITHUB_SECRET by creating a new OAuth app at https://github.com/settings/applications/new
# with Homepage url : http://localhost:3000
# and Authorization callback url : http://localhost:3000/api/auth/callback/github
GITHUB_ID=
GITHUB_SECRET=

# Generate GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET by creating a new OAuth credential
# at https://console.cloud.google.com/apis/credentials
# 
# Use the following values:
# - Authorized redirect URI: http://localhost:3000/api/auth/callback/google
# 
# Example for local development:
# - Homepage URL: http://localhost:3000
# - Redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# give a random secret, you can generate one running this command in your terminal and copying it here in NEXTAUTH_SECRET
# openssl rand -hex 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
